In [3]:
import pandas as pd
import numpy as np
import re
import collections

In [4]:
doc1 = "John likes to watch movies. Mary likes movies too."
doc2 = "Mary also likes to watch football games."

In [7]:
l_doc1 = re.sub(r"[^a-zA-Z0-9]", " ", doc1.lower()).split()
l_doc2 = re.sub(r"[^a-zA-Z0-9]", " ", doc2.lower()).split()
print(l_doc1)
print(l_doc2)

['john', 'likes', 'to', 'watch', 'movies', 'mary', 'likes', 'movies', 'too']
['mary', 'also', 'likes', 'to', 'watch', 'football', 'games']

In [8]:
wordset = np.union1d(l_doc1,l_doc2)
print(wordset)

['also' 'football' 'games' 'john' 'likes' 'mary' 'movies' 'to' 'too'
 'watch']

In [9]:
def calculateBOW(wordset,l_doc):
  tf_diz = dict.fromkeys(wordset,0)
  for word in l_doc:
      tf_diz[word]=l_doc.count(word)
  return tf_diz

In [10]:
bow1 = calculateBOW(wordset,l_doc1)
bow2 = calculateBOW(wordset,l_doc2)
df_bow = pd.DataFrame([bow1,bow2])
df_bow.head()

   also  football  games  john  likes  mary  movies  to  too  watch
0     0         0      0     1      2     1       2   1    1      1
1     1         1      1     0      1     1       0   1    0      1

In [15]:
df_bow.iloc[1]

also        1
football    1
games       1
john        0
likes       1
mary        1
movies      0
to          1
too         0
watch       1
Name: 1, dtype: int64

In [18]:
df_bow.iloc[0]

also        0
football    0
games       0
john        1
likes       2
mary        1
movies      2
to          1
too         1
watch       1
Name: 0, dtype: int64

In [19]:
df_bow.iloc[0].values

array([0, 0, 0, 1, 2, 1, 2, 1, 1, 1])